.input-component {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-component h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-bottom: 100px;
}

.input-component .form {
  -webkit-box-shadow: 0px 0px 5px #4361ee;
          box-shadow: 0px 0px 5px #4361ee;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#4361ee), to(#1838c7));
  background: linear-gradient(#4361ee, #1838c7);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}

.input-component .form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.input-component .form input {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 2px #1838c7;
          box-shadow: inset 0px 0px 2px #1838c7;
}

.input-component .form button {
  position: relative;
  font-family: "Bebas Neue", cursive;
  margin-top: 80px;
  height: 45px;
  background: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background: transparent;
  border: none;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 25px;
  border: solid 1px white;
  outline: none;
}

.input-component .form button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  border-radius: 5px;
}

.input-component .form button:hover {
  color: black;
  border: white;
}

.input-component .form button:hover::before {
  width: 100%;
}

.input-component .error-bubble {
  font-family: "Bebas Neue", cursive;
  font-size: 23px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 100px;
  position: absolute;
  background: whitesmoke;
  left: 75%;
  z-index: 2;
}

.input-component .error-bubble::before {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 30px solid whitesmoke;
}

.input-component .close-panel {
  display: none;
}

@media only screen and (max-width: 760px) {
  .input-component {
    position: fixed;
    left: -100%;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .closed-panel {
    left: -100%;
  }
  .opened-panel {
    left: 0%;
  }
}

@media only screen and (max-width: 760px) {
  .close-panel {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 25px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    color: white;
    background: none;
    border: none;
    outline: none;
  }
  .form h1 {
    margin: 0 !important;
  }
  .form label {
    margin: 0px 0px !important;
    font-size: 16px !important;
  }
  .form input {
    margin: 0 !important;
  }
  .form button {
    margin: 5px 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .form {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .error-bubble {
    left: 20px !important;
  }
}

@media only screen and (max-width: 320px) {
  .form h1 {
    margin-bottom: 50px !important;
  }
  .form label {
    margin: 5px 0px !important;
  }
  .form input {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=NovyKosmonaut.css.map */