.kosmonauti-container {
  margin-top: 50px;
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 20% 80%;
  background: linear-gradient(#333, black);
  position: relative;
}

@media only screen and (max-width: 500px) {
  .kosmonauti-container {
    grid-template-columns: 1fr;
  }
}
